
#jspsych-foraging-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  #jspsych-foraging-container {
    position: relative;

    user-select: none; // disable text/image selection
    background-size: contain;
    background-color: rgb(176, 255, 180);

    .absolute-position {
      position: absolute;
      left: 50%;
      top: 50%;
      //transform: translate(-50%, -50%);
    }

    .points-display {
      position: absolute;
      left: 0px;
      top: 5px;
      z-index: 1;
    }
    .next-click {
      position: absolute;
      left: 1770px;
      top: 5px;
      z-index: 1;
    }
  }
}

